.last-section {
  background-color: white;
  width: 100%;
  min-height: 800px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0px;
  padding-top: 60px;
  color: rgb(0, 0, 0);
  animation: slideFromTop4 7s linear 4s forwards;
}

.last-container {
  width: 100%;
  position: absolute;
  z-index: 1;
  color: black;
  display: grid;
  place-items: center;
  border-radius: 30px;
  margin-top: 30px;
}

.last-container h1 {
  font-size: 3rem;
  position: relative;
  margin-top: 60px;
  font-weight: 300px;
}

#slide-show-container {
    width: 100%;
    overflow: hidden;
  }
  
  #slide-show {
    white-space: nowrap;
    font-size: 0;
    animation: slide 70s linear infinite; 
  }
  
  #slide-show img {
    display: inline-block;
    width: 13%;
    height: auto;
    padding: 60px;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.last-container a {
  font-size: 3rem;
  text-align: center;
  position: relative;
  animation: slideFromTop4 8s linear 5s forwards;
  color: black;
  text-decoration: none;
  margin-top: 120px;

  span {
    font-weight: bold;
  }
  span:hover{
    text-decoration: underline;
  }
}
@keyframes slideFromTop4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
