.global-section {
    background-color: rgb(248, 248, 248);
    width: 100%;
    min-height: 600px;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0px;
    justify-content: center;
    position: relative;
    padding-top: 80px;
}

.global-container {
    margin: 0 80px;
    height: 100%;
}

.global-content {
    width: 70%;
    padding-bottom: 40px;
}

.global-content h2 {
    font-size: 4em;
    margin-bottom: 30px;
}

.global-content p {
    font-size: 2em;
    font-weight: 300;
}

.global-image {
    width: 1360px;
    height: 800px;
    border-radius: 20px;
}

.global-cont h2 {
    text-align: center;
    font-size: 4em;
    margin-top: 30px;
}

.global-figures {
    margin-top: 50px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.global-figure {
    width: 350px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.global-figure-content h1{
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 30px;
}

.global-figure-content h1 span{
    font-size: 1em;
    font-weight: 300;
}

.global-figure-content h3{
    font-size: 1.2em;
    font-weight: 300;
}